<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="adminUser" value="admin"/>
    <add key="adminPass" value="100"/>
    <add key="superUser" value="engineer"/>
    <add key="superPass" value="100engineer100"/>
  </appSettings>
</configuration>